<div>
  <div>
    <h3> <%= post.Title %> by <%= post.user.Name %> </h3>
    <aside>
      <span>Comments: <%= post.comment_counter %></span>
      <span>Likes: <%= post.like_counter %></span>
    <aside>
  </div>
  <p><%= post.Text %></p>
  <%= form_with model: @like, url: like_path, method: :post do |f| %>
    <%= f.submit "Like" %>
  <% end %>
</div>