<% content_for :title, "#{@user.Name} | #{@post.Title}" %>
<%= render "user_post", post: @post %>
<div>
  <% @comments.each do |comment| %>
    <div>
      <p>
        <span><strong><%= comment.user.Name %>:</strong></span>
        <span><%= comment.text %></span>
      </p>
    </div>
  <% end %>
<div>

<%= form_with model: @comment, url: user_post_path, method: :post, scope: :comment do |f| %>
  <div>
    <%= f.text_area :text, placeholder: "Add Comment" %>
    <%= f.submit "Comment" %>
  </div>
  <% end %>
